In [40]:
%run SetUpParams.ipynb

2024-08-14 03:22:31.307472
2004-08-14 03:22:31.307472

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [41]:
import pandas as pd
from sklearn.preprocessing import StandardScaler 
import torch

### Create dataframe to feed into model

In [42]:
final_df = pd.DataFrame()
# Next Day Open Price - Current Day Open Price
final_df[f'{target_stock}_change'] = target_stock_data['Open'].shift(-1) - target_stock_data['Open']
final_df[f'{target_stock}_lag'] = final_df[f'{target_stock}_change'].shift(1)
final_df.reset_index(inplace=True)
print(final_df)

           Date  ^GSPC_change  ^GSPC_lag
0    2004-08-16     14.539917        NaN
1    2004-08-17      2.369995  14.539917
2    2004-08-18     13.460083   2.369995
3    2004-08-19     -3.940063  13.460083
4    2004-08-20      7.119995  -3.940063
...         ...           ...        ...
5028 2024-08-07    -40.560059  86.709961
5029 2024-08-08     62.090332 -40.560059
5030 2024-08-09     37.219727  62.090332
5031 2024-08-12     25.100098  37.219727
5032 2024-08-13           NaN  25.100098

[5033 rows x 3 columns]

#### Add European and US Stock Market Price Changes to final_df
Current Day Open Price - Previous Day Open Price

In [43]:
# EU Stock Market has already opened
for ticker in US_EU_market_dict.keys():
        data = US_EU_market_dict[ticker]
        # Current Day Open Price - Previous Day Open Price
        temp = (data['Open'] - data['Open'].shift(1)).reset_index()
        temp.rename(columns={'Open':ticker}, inplace=True)
        final_df = final_df.merge(temp, on='Date', how='left')

print(final_df)

           Date  ^GSPC_change  ^GSPC_lag       ^IXIC        ^DJI      ^FCHI  \
0    2004-08-16     14.539917        NaN         NaN         NaN        NaN
1    2004-08-17      2.369995  14.539917   32.680054  130.150391  42.409912
2    2004-08-18     13.460083   2.369995   -4.599976    8.719727  15.120117
3    2004-08-19     -3.940063  13.460083   38.250000  118.560547  29.449951
4    2004-08-20      7.119995  -3.940063   -6.369995  -41.970703 -11.910156
...         ...           ...        ...         ...         ...        ...
5028 2024-08-07    -40.560059  86.709961  360.950195  493.871094   1.870117
5029 2024-08-08     62.090332 -40.560059 -214.041016 -289.710938  61.069824
5030 2024-08-09     37.219727  62.090332  228.250000  467.679688  36.690430
5031 2024-08-12     25.100098  37.219727  157.121094  147.953125  37.139648
5032 2024-08-13           NaN  25.100098  151.058594 -110.710938 -19.139648

          ^GDAXI
0            NaN
1      53.129883
2       8.590088
3      25.070068
4     -13.270020
...          ...
5028   16.080078
5029   77.400391
5030  156.849609
5031  111.128906
5032   15.630859

[5033 rows x 7 columns]

#### Add Asian Stock Market Price Changes to final_df
Close Price - Open Price

In [44]:
# Asian Stock Market has already closed; one day ahead of US Stock Market
for ticker in asia_market_dict.keys():
        data = asia_market_dict[ticker]
        # Close Price - Open Price
        temp = (data['Close'] - data['Open']).reset_index()
        temp.rename(columns={0:ticker}, inplace=True)
        final_df = final_df.merge(temp, on='Date', how='left')

print(final_df)

           Date  ^GSPC_change  ^GSPC_lag       ^IXIC        ^DJI      ^FCHI  \
0    2004-08-16     14.539917        NaN         NaN         NaN        NaN
1    2004-08-17      2.369995  14.539917   32.680054  130.150391  42.409912
2    2004-08-18     13.460083   2.369995   -4.599976    8.719727  15.120117
3    2004-08-19     -3.940063  13.460083   38.250000  118.560547  29.449951
4    2004-08-20      7.119995  -3.940063   -6.369995  -41.970703 -11.910156
...         ...           ...        ...         ...         ...        ...
5028 2024-08-07    -40.560059  86.709961  360.950195  493.871094   1.870117
5029 2024-08-08     62.090332 -40.560059 -214.041016 -289.710938  61.069824
5030 2024-08-09     37.219727  62.090332  228.250000  467.679688  36.690430
5031 2024-08-12     25.100098  37.219727  157.121094  147.953125  37.139648
5032 2024-08-13           NaN  25.100098  151.058594 -110.710938 -19.139648

          ^GDAXI       ^AORD        ^HSI       ^N225       ^NSEI
0            NaN  -10.500000 -101.019531  -41.170898         NaN
1      53.129883    8.399902  -22.570312  -46.270508         NaN
2       8.590088   -7.399902   19.020508   49.439453         NaN
3      25.070068    8.000000  100.089844   41.610352         NaN
4     -13.270020    5.699951   18.340820   30.059570         NaN
...          ...         ...         ...         ...         ...
5028   16.080078   23.000000  193.080078  967.269531    8.099609
5029   77.400391  -26.600098  118.791016  185.359375 -131.550781
5030  156.849609  104.200195   -7.128906 -247.339844  -19.349609
5031  111.128906   37.799805    8.669922         NaN   26.949219
5032   15.630859   13.700195   13.849609  741.933594 -203.349609

[5033 rows x 11 columns]

In [45]:
# Different markets has different holidays
# Forward fill null values
final_df.ffill(inplace=True)
final_df.dropna(inplace=True, ignore_index=True)
# final_df.isna().sum()
final_df

,Date,^GSPC_change,^GSPC_lag,^IXIC,^DJI,^FCHI,^GDAXI,^AORD,^HSI,^N225,^NSEI
0,2007-09-17,-7.609985,0.290039,11.890137,20.560547,-16.479980,-17.530273,-23.299805,-378.080078,232.370117,-23.800293
1,2007-09-18,43.119995,-7.609985,-1.080078,-38.770508,-104.929688,-37.049805,-66.500000,73.019531,-235.690430,52.100098
2,2007-09-19,8.939941,43.119995,72.929932,337.430664,264.319824,169.069824,113.100098,43.281250,343.419922,182.100098
3,2007-09-20,-9.939941,8.939941,-6.309814,72.909180,2.810059,99.669922,14.299805,62.820312,-60.871094,12.699707
4,2007-09-21,7.000000,-9.939941,11.169922,-45.189453,-18.060059,-5.809570,-22.099609,183.818359,28.180664,84.599609
...,...,...,...,...,...,...,...,...,...,...,...
4251,2024-08-07,-40.560059,86.709961,360.950195,493.871094,1.870117,16.080078,23.000000,193.080078,967.269531,8.099609
4252,2024-08-08,62.090332,-40.560059,-214.041016,-289.710938,61.069824,77.400391,-26.600098,118.791016,185.359375,-131.550781
4253,2024-08-09,37.219727,62.090332,228.250000,467.679688,36.690430,156.849609,104.200195,-7.128906,-247.339844,-19.349609
4254,2024-08-12,25.100098,37.219727,157.121094,147.953125,37.139648,111.128906,37.799805,8.669922,-247.339844,26.949219
4255,2024-08-13,25.100098,25.100098,151.058594,-110.710938,-19.139648,15.630859,13.700195,13.849609,741.933594,-203.349609

### Prepare Sequences

In [46]:
input_df = final_df.copy().drop(columns=[f'{target_stock}_change', 'Date'])

In [47]:
# Train-Test Split
proportion_test = 0.8
gap = 60

output_df = final_df[f'{target_stock}_change'].to_frame()

train_index = round(len(input_df) * proportion_test)
test_index = train_index + gap

X_train = input_df.iloc[:train_index]
X_test = input_df.iloc[test_index:]

y_train = output_df.iloc[:train_index]
y_test = output_df.iloc[test_index:]

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3405, 9)
(791, 9)
(3405, 1)
(791, 1)

In [48]:
# Scaling inputs using Normalisation
scaler = StandardScaler()
X_scaled_train_temp = scaler.fit_transform(X_train)
X_scaled_train = pd.DataFrame(X_scaled_train_temp, columns = input_df.columns)

X_scaled_test_temp = scaler.fit_transform(X_test)
X_scaled_test = pd.DataFrame(X_scaled_test_temp, columns = input_df.columns)
print(X_scaled_train)
print(X_scaled_test)

      ^GSPC_lag     ^IXIC      ^DJI     ^FCHI    ^GDAXI     ^AORD      ^HSI  \
0     -0.019581  0.120865  0.078409 -0.279266 -0.161959 -0.449733 -1.572165
1     -0.393729 -0.055747 -0.231680 -1.760943 -0.324729 -1.267039  0.373712
2      2.008860  0.952030  1.734508  4.424591  1.394071  2.130819  0.245432
3      0.390081 -0.126959  0.352005  0.043874  0.815356  0.261614  0.329717
4     -0.504077  0.111058 -0.265229 -0.305735 -0.064222 -0.427027  0.851658
...         ...       ...       ...       ...       ...       ...       ...
3400  -1.944786 -3.163361 -0.393858 -0.925881  0.180520 -0.841361 -0.663977
3401   0.124870  2.122390 -1.369832 -1.012984 -1.233997  0.660808  0.422156
3402   0.966939  1.356713  0.439655 -0.297023  0.241897 -0.167842 -2.143974
3403  -0.870183 -1.296362 -1.182099 -0.701238 -0.336741  0.507562 -2.181549
3404  -1.955667 -6.095872 -0.677494  0.154265  0.041097  0.155675  1.230010

         ^N225     ^NSEI
0     1.468325 -0.223783
1    -1.444958  0.703766
2     2.159516  2.292445
3    -0.356855  0.222269
4     0.197418  1.100929
...        ...       ...
3400 -0.678323  3.401459
3401 -1.658190  0.068300
3402 -2.377834  0.631665
3403 -2.218875 -1.925497
3404  1.718416 -2.939199

[3405 rows x 9 columns]
     ^GSPC_lag     ^IXIC      ^DJI     ^FCHI    ^GDAXI     ^AORD      ^HSI  \
0     1.134072  0.442819  1.889227  1.137130  1.217611  1.733045 -1.081862
1     0.528108  0.616579  0.233196  0.086834  0.533131 -0.644126  1.548598
2     0.141019  0.458151 -0.076503 -0.549925 -0.922986 -0.201114  0.127526
3     0.364229  0.202488  1.320830  0.823656  0.342715  0.641570  1.277602
4     0.203773  0.067723  0.315294 -0.348862 -0.098436 -0.090363 -0.365776
..         ...       ...       ...       ...       ...       ...       ...
786   1.944314  1.814224  1.661532  0.021293  0.090549  0.376726  0.881594
787  -0.960459 -1.105451 -1.016724  0.816396  0.474524 -0.419411  0.563449
788   1.382403  1.140403  1.572011  0.488960  0.972019  1.680080  0.024193
789   0.814763  0.779226  0.479196  0.494993  0.685725  0.614280  0.091852
790   0.538149  0.748442 -0.404908 -0.260886  0.087736  0.227454  0.114034

        ^N225     ^NSEI
0    1.244121 -0.445176
1   -0.056003 -1.245727
2    0.200022  0.450173
3   -0.256548  0.212077
4   -0.234555 -0.688819
..        ...       ...
786  3.267525  0.116541
787  0.613891 -0.917665
788 -0.854596 -0.086739
789 -0.854596  0.256135
790  2.502784 -1.449384

[791 rows x 9 columns]

In [49]:
def create_sequences(X_data, y_data, time_step = 10):
    X, y = [], []
    for i in range(len(X_data) - time_step):
        X.append(X_data.iloc[i:i + time_step, :].values)
        y.append(y_data.iloc[i+1: i + time_step + 1, :].values)
    return torch.tensor(X), torch.tensor(y)

In [50]:
X_train_seq, y_train_seq = create_sequences(X_scaled_train, y_train)
X_test_seq, y_test_seq = create_sequences(X_scaled_test, y_test)

In [51]:
# Shape of Tensor = (Number of Sequences, Time Steps, Number of Features)
print(X_train_seq.shape)
print(y_train_seq.shape)
print(X_test_seq.shape)
print(y_test_seq.shape)

torch.Size([3395, 10, 9])
torch.Size([3395, 10, 1])
torch.Size([781, 10, 9])
torch.Size([781, 10, 1])